.dashboard {
  position: absolute;
  top: 0;
  left: 350px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.box {
  width: 500px;
  height: 250px;
  border: 2px solid #c5c6c7;
  border-radius: 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin: 1rem;
}

.box::-webkit-scrollbar {
  width: 8px;
}

.box::-webkit-scrollbar-track {
  background: #1f2833;
  border-radius: 10px;
  margin: 20px;
}

.box::-webkit-scrollbar-thumb {
  background-color: #c5c6c7;
  border-radius: 10px;
}

.box h3 {
  font-weight: bold;
  padding: 15px;
  color: #ffffff;
}

.box ul {
  padding-left: 15px;
  padding-right: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 5px;
}

.listItem button {
  color: #e6e8e6;
  border: none;
  background-color: transparent;
}

.listItem button:hover {
  color: #45a29e;
  cursor: pointer;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.input-field {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
}

.input button {
  border: none;
  border-bottom: 1px solid #66fcf1;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #66fcf1;
  color: #1f2833;
}

.input button:hover {
  background-color: transparent;
  color: #66fcf1;
  cursor: pointer;
  border: 1px solid #66fcf1;
}
