.dashboard {
  position: absolute;
  top: 0;
  left: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.box {
  width: 500px;
  height: 200px;
  border: 2px solid #C5C6C7;
  border-radius: 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.box::-webkit-scrollbar {
  width: 8px;
}

.box::-webkit-scrollbar-track {
  background: #C5C6C7;
  border-radius: 10px;
  margin: 5px;
}

.box::-webkit-scrollbar-thumb {
  background-color: #66FCF1;
  border-radius: 10px;
}

.box h3 {
  font-weight: bold;
  padding: 15px;
  color: #ffffff;
}

.box ul {
  padding-left: 15px;
  padding-right: 15px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 5px;
}

.listItem button {
    color: #E6E8E6;
  border: none;
  background-color: transparent;
}

.listItem button:hover {
  color: #C24D18;
  cursor: pointer;
}

.input {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.input-field {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
}

.input button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #66FCF1;
  color: #1F2833;
}

.input button:hover {
  background-color: #1F2833;
  color: #66FCF1;
  cursor: pointer;
}
